body {
    color: #000000;
    background-color: #A3A6A9;
}

.stButton>button {
    
    height: 3em;
    width: 4.5em;
    background-color: #4c659b; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(255, 245, 245, 0.281),0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

.stButton>.button:hover {opacity: 1}
.stTextInput>div>div>input {
    color: #9df4ff;
    background-color: #2e2e2e;
    word-wrap: break-word;
    border: rgb(106, 1, 128);
}